jobposting/node_modules


# https://50-mini-projects-xi.vercel.app/button-ripple-effect fixed
# https://50-mini-projects-xi.vercel.app/dashboard-layout
# https://50-mini-projects-xi.vercel.app/github-profiles fixed
# https://50-mini-projects-xi.vercel.app/input-items
# https://50-mini-projects-xi.vercel.app/movie-list-search
# https://50-mini-projects-xi.vercel.app/macos-desktop
# https://50-mini-projects-xi.vercel.app/payment-checkout // works on developement mode
# https://50-mini-projects-xi.vercel.app/pricing-page-toggle
# https://50-mini-projects-xi.vercel.app/realtime-search
# https://50-mini-projects-xi.vercel.app/task-board
# https://50-mini-projects-xi.vercel.app/temperature-converter
# https://50-mini-projects-xi.vercel.app/todo-list