jobposting/node_modules


# https://50-mini-projects-xi.vercel.app/button-ripple-effect fixed
# https://50-mini-projects-xi.vercel.app/dashboard-layout
# https://50-mini-projects-xi.vercel.app/github-profiles fixed
# https://50-mini-projects-xi.vercel.app/input-items 90% fixed
# https://50-mini-projects-xi.vercel.app/movie-list-search fixed
# https://50-mini-projects-xi.vercel.app/macos-desktop fixed
# https://50-mini-projects-xi.vercel.app/payment-checkout // fixed
# https://50-mini-projects-xi.vercel.app/pricing-page-toggle // fixed
# https://50-mini-projects-xi.vercel.app/realtime-search // fixed
# https://50-mini-projects-xi.vercel.app/task-board // fixed
# https://50-mini-projects-xi.vercel.app/temperature-converter // fixed
# https://50-mini-projects-xi.vercel.app/todo-list // fixed

# // const input = e.path[0].value; // path element is depercated
# const input = e.srcElement.value