@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');

body {
	margin: 0;
	padding: 20px;
	font-family: 'Poppins', 'helvetica';
	box-sizing: border-box;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
*, *:before, *:after {
	box-sizing: inherit;
}
textarea:focus, input:focus{
    outline: none;
}

/*add custom scroll bar*/
/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

section {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.cards-container {
	display: grid;
	grid-template-columns: repeat(33, 1fr);
}
.instructions {
	color: white;
	font-size: 13px;
	width: 500px;
	padding-top: 10px;
}
.instructions p  {
	/*margin: 0;*/
	padding: 0;
}
.card {
	background-color: white;
	min-height: 300px;
	border: 2px solid transparent;
	border-radius: 4px;
	width: 300px;
	margin: 10px;
	box-shadow:  8px 8px 8px rgba(0,0,0,.2);
}
.card-add {
	min-height: 300px;
	border: 2px solid transparent;
	border-radius: 4px;
	width: 300px;
	height: 300px;
	margin: 10px;
	background-color: rgba(255,255,255,.2)!important;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow:  8px 8px 8px rgba(0,0,0,.2);
}
.card-add:hover {
	background-color: rgba(255,255,255,.3)!important;
}
.card-add input {
	background-color: transparent;
	border: 0;
	font-family: 'Poppins', 'helvetica';
	color: black;
	font-size: 15px;
}
.card-add input::placeholder {
	color: black;
}
.card-header {
	display: flex;
	align-items: center;
	margin-left: 15px;
}
.card-header .card-delete {
	padding: 5px;
	margin-left: 15px;
	background-color: red;
	border:0;
	color: white;
	cursor: pointer;
	height: 25px;
}
.card-input {
	margin-left: 15px;
	border: 0;
	font-family: 'Poppins', 'helvetica';
}
.card-content {
	margin: 15px;
}
.task  {
	background-color: rgba(0,0,0,.1);
	padding: 10px 0 10px 10px;
	margin-bottom: 5px;
	color: rgba(0,0,0,.8);
}


.settings {
	width: 100%;
	height: 100px;
	background-color: white;
	position: absolute;
	top: -100px;
	left: 0;
	position: fixed;
	transition: all .2s ease-out;
	box-shadow:  8px 8px 8px rgba(0,0,0,.2);
	padding: 10px;
}
.settings-content {
	display: flex;
}
img {
	margin-left: 10px;
	border: 4px solid transparent;
}
.image-background {
	width: 100px;
	height: 77px;
	margin-left: 10px;
	border: 4px solid transparent;
}
.active {
	border-color: #007bff; 
}
.settings-icon {
	width: 30px;
	height: 20px;
	background-color: white;	
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	transform: translateY(12px) translateX(20px);
	opacity: .3;
	text-align: center;
}
.settings-icon:hover {
	opacity: 1;
}

