@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'helvetica';
	box-sizing: border-box;
	background-image: url('./Images/wallpaper.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
*, *:before, *:after {
	box-sizing: inherit;
}