@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');
:root {
	--background-color: #dee2e6;
	--primary: #007bff;
	--danger: #b60014;
	--steps-color: #8b98a1;
	--color: #101f22;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', "helvetica";
	box-sizing: border-box;
	background-color: var(--background-color);
}

.steps-wrapper {
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -25%;
	width: 50%;
}
.steps {
	/*width: 100%;*/
	list-style: none;
	display: flex;
	padding: 0;
	justify-content: center;
}
.step {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.step:not(:last-child) {
	width: 100%;
}
/*cercle*/
.step .data {
	display: inline;
	width: 25px;
	height: 25px;
	background-color: var(--background-color);
	color: var(--color);
	border-radius: 50%;
	border: 2px solid var(--steps-color);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
/*vertical bar*/
.step:not(:last-child) .vertical-line {
	width: 100%;
	height: 3px;
	background-color: var(--steps-color);
	position: absolute;
	z-index: -1;
	transition: all .4s ease-out;
}
/*	.step:not(:last-child) .data:before {
	content: "";
	position: absolute;
	left: 0;
	width: 100px;
	height: 5px;
	background-color: var(--steps-color);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}*/
.active {
	color: white!important;
	background-color: var(--primary)!important;
	border-color: var(--primary)!important;
	transition: all .1s ease-out;
}

.steps-content {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	overflow-x: scroll;
}

.step-content {
	width: 100%;
}
.step-content h3 {
	margin: 0;
}






.steps-navigation button {
	padding: 10px 20px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin: 5px;
}
.steps-navigation {
	display: flex;
	justify-content: center;

}
.steps-navigation button:nth-child(1) {
	background-color: transparent;
	color: var(--primary);
	border: 1px solid var(--primary);
}
.steps-navigation button:nth-child(2) {
	background-color: var(--primary);
	color: white;
	border: 1px solid var(--primary);
}