@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', "helvetica";
	box-sizing: border-box;
	/*background-color: #b60014;*/
	background-color: #007bff;
	/*background-image: url('./images/background.jpg');*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	height: 100vh;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.checkout-modal {
	position: relative;
	width: 400px;
	padding: 30px 20px 30px 20px;
	height: auto;
	background-color: white;
	margin: 80px auto;
	box-shadow:  8px 8px 8px rgba(0,0,0,.2);
}
.avatar {
	background-image: url('./images/mouadTaoussi.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 100px;
	position: absolute;
	top: -50px;
	left: 35%;
	border: 5px solid white;
	border-radius: 50%;
}
input, select {
	padding: 10px 0 8px 15px;
	border-radius: 0px;
	border: .1px solid rgba(0,0,0,.4);
	font-family: 'Poppins', 'helvetica';
}
input:not(.exp-date):not(.cvc), select {
	width: 100%;
}
input:not(.identity-number):not(.exp-date):not(.cvc), select, .card-information {
	margin-bottom: 15px;
}
.card-information {
	position: relative;
}
.card-information div {
	display: grid;
	grid-template-columns: 50% 50%; 
}
.card-logo-container {
	position: absolute;
	top: 35px;
	right: 10px;
	width: 30px;
	height: 20px;
}
.card-logo {
	/*background-image: url('./images/cardlogo/visa.png');*/
	width: 30px;
	height: 20px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: none!important;
}
button {
	width: 100%;
	padding: 10px 0 8px 15px;
	border: 0;
	background-color: #007bff;
	color: white;
	cursor: pointer;
	font-family: 'Poppins', 'helvetica';
}
button:hover {
	background-color: rgb(0,123,255,.7);
}
.not-valid {
	border-color:red;
	color: red;
}
.visible {
	display: block!important;
}
.error-message {
	margin:0;
	padding:0;
	font-size: 12px;
	color: red;
}
@media only screen and (max-width: 800px) {
	.checkout-modal {
		width: 100%;
		height: 100vh;
		margin: 0;
	}
	.avatar {
		display: none;
	}
}