@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');
/*http://www.rw-designer.com/icon-set/windowsicons-zip*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'helvetica';
	box-sizing: border-box;
	background-color: #dee2e6;
	height: 100vh;
}
*, *:before, *:after {
	box-sizing: inherit;
}
section {
	width: 100%;
	height: 100vh;
	background-image: url('./images/wallpapersden.com_windows-11-in-4k_3840x2400.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.task-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	background-color: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.status {
	position: absolute;
	bottom: 0;
	right: 0;
	/*background-color: rgba(255,255,255,.3);*/
	width: 350px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.status div:not(.show-desktop) {
	font-size: 12px;
	margin-right: 20px;
}
.status .show-desktop {
	height: 45px;
	width: 5px;
	border-left: 1px solid white;
	position: absolute;
	right: 0;
}
.status .date {
	text-align: center;
}
div {
	color: white;
}
.logo {
	background-image: url('./images/Windows%2011.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}