@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', "helvetica";
	box-sizing: border-box;
}
.image {
	background-image: url('./images/image.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	filter: blur(10px);
}
.percentage {
	color: white;
	font-weight: 100;
	position: absolute;
	top: 40%;
	left: 45%;
	font-size: 50px;
	opacity: 1
}
