@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');

body {
	font-family: "Poppins" ,"helvetica";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #272822;
	color: white;
}
a {
	color: white;
	text-decoration: none;
}
/*h1 {
	color: white;
	font-size: 40px;
	font-weight: 200;
}*/
header {
	width: 100%;
	height: 100px;
	background: #dc3545;
	box-shadow: 8px 8px 8px rgba(0,0,0,.2);
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	position: fixed;
	top: 0;
}
header > div {
	transform: rotate(-5deg);
}
header > div p {
	display: inline;
}
header > div h1 {
	font-size: 30px;
}
.logo p {
	font-size: 30px;
	font-weight: bold;
}
.w-bnd {
	font-size: 15px;
	font-weight: 200;
}
ul {
	color: white;
	list-style: none;
	margin:0;
}
ul li {
	display: inline;
	margin-right: 6px;
	align-self:center;
	cursor: pointer;
}

section {
	margin: 100px auto;
	margin-bottom: 0;
	width: 80%;
	padding: 20px;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-gap: 10px;
}
article {
	margin: 10px;
}
.jobs {
	width: 100%;
}
.job {
	background: black;
	padding: 10px;
	margin-bottom: 5px;
	border-left: 5px solid white;
	cursor: pointer;
}
.job-detail-container {
	display: none;
}
.job-detail {
	background: black;
	padding: 10px;
	height: auto;
	border-left: 5px solid white;
} 
.load-more {
	background: #007bff;
	padding: 10px 20px 10px 20px;
	border: 0;
	margin: 0 auto;
	color: white;
	cursor: pointer;
	margin: 20px;
}