@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');

body {
	font-family: "Poppins" ,"helvetica";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #272822;
	color: white;
	/*font-family: "helvetica";*/
}
a {
	color: white;
	text-decoration: none;
}
h1 {
	color: white;
	font-size: 40px;
	font-weight: 200;
}
header {
	width: 100%;
	height: 100px;
	background: #dc3545;
	box-shadow: 8px 8px 8px rgba(0,0,0,.2);
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	position: fixed;
	top: 0;
}
header > div {
	transform: rotate(-5deg);
}
header > div p {
	display: inline;
}
.w-bnd {
	font-size: 15px;
	font-weight: 200;
}
p {
	color: white;
	font-size: 30px;
	font-weight: bolder;
	margin: 0;
	/*padding:30px 40px;*/

}
ul {
	color: white;
	list-style: none;
	margin:0;
}
ul li {
	/*font-family: "helvetica";*/
	display: inline;
	margin-right: 6px;
	align-self:center;
	cursor: pointer;
}
section {
	width: 60%;
	margin: 170px auto;
}
textarea {
	width: 100%;
	padding:10px 0 10px 10px;
	margin-top: 5px;
	height: 200px;
	border: 0;
}
input {
	width: 100%;
	padding:10px 0 10px 10px;
	margin-top: 5px;
	border: 0;
}
button {
	background: #0b27ef;
	padding: 10px 20px 10px 20px;
	border: 0;
	color: white;
	margin-top: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 15px;
}