@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Source+Code+Pro:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');

body {
	margin: 0;
	padding: 0;
	/*font-family: 'Silkscreen', "helvetica";*/
	font-family: 'Source Code Pro', monospace;
	box-sizing: border-box;
	background-color: #212529;
}

section {
	overflow-x: hidden;
	width: 100%;
}
.testimonials-slider {
	margin-top: 10%;
	display: grid;
	grid-template-columns: repeat(4,100%);
	/*height: 100vh;*/
	transition: all .6s ease-out;
	/*transform: translateX(-100%);*/
}
.testimonial {
	display: flex;
	align-items: center;
	width: 600px;
	height: auto;
	margin: 0 auto;
	padding: 20px;
	background-color: #007bff;
	text-align: center;
	color: white;
	position: relative;
}
.testimonial .testimonial-content .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: 50%;
	margin-left: -50px;
}
.testimonial .text {
	margin-top: 60px;
	font-family: 'Poppins','helvetica';
	font-size: 20px;
}