@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'helvetica';
	box-sizing: border-box;
	background-color: #101f22;
	height: 100vh;
}

article {
	transform: translateY(250px);
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
}
.title, .number {
	color: white;
	text-align: center;
	font-size: 25px;
	padding: 0;
	margin: 0;
}
.number {
	font-weight: bold;
}
