body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'helvetica';
	box-sizing: border-box;
	background-color: black;
}
section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}


.svg-container {
	transform: /*perspective(200px) */rotateY(0);
	animation: container 5s linear infinite;
}
#top {
	transform: translateY(0);
	transition: all 3s ease-out;
	animation: Top 5s linear infinite;
}
#left-front {
	transform: translateX(0) translateY(0);
	transition: all 3s ease-out;
	animation: left_front 5s linear infinite;
}
#right-front {
	transform: translateX(0) translateY(0);
	transition: all 3s ease-out;
	animation: right_front 5s linear infinite;
}
#base {
	transform: translateY(0);
	transition: all 3s ease-out;
	animation: base 5s linear infinite;
}
#left-back {
	transform: translateX(0) translateY(0);
	transition: all 3s ease-out;
	animation: left_back 5s linear infinite;
}
#right-back {
	transform: translateX(0) translateY(0);
	transition: all 3s ease-out;
	animation: right_back 5s linear infinite;
}

@keyframes container {
	0% {
		transform: rotateY(180deg);
	} 
	30% {
		transform: rotateY(180deg);
	}
	70% {
		transform: rotateY(180deg);
	}
	80% {
		transform: rotateY(180deg);
	}
	90% {
		transform: rotateY(360deg);
	}
	100% {
		transform: rotateY(180deg);
	}
}
@keyframes Top{
	0% {
		transform: translateY(0);
	} 
	30% {
		transform: translateY(-70px);
	}
	70% {
		transform: translateY(-70px);
	}
	80% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes left_front{
	0% {
		transform: translateX(0) translateY(0);
	} 
	30% {
		transform: translateX(60px) translateY(35px);
	}
	70% {
		transform: translateX(60px) translateY(35px);
	}
	80% {
		transform: translateX(0) translateY(0);
	}
	90% {
		transform: translateX(0) translateY(0);
	}
	100% {
		transform: translateX(0) translateY(0);
	}

}
@keyframes right_front{
	0% {
		transform: translateX(0) translateY(0)
	} 
	30% {
		transform: translateX(-60px) translateY(35px)
	}
	70% {
		transform: translateX(-60px) translateY(35px)
	}
	80% {
		transform: translateX(0) translateY(0)
	}
	90% {
		transform: translateX(0) translateY(0)
	}
	100% {
		transform: translateX(0) translateY(0)
	}
}
@keyframes base{
	0% {
		transform: translateY(0)
	} 
	30% {
		transform: translateY(70px)
	}
	70% {
		transform: translateY(70px)
	}
	80% {
		transform: translateY(0)
	}
	90% {
		transform: translateY(0)
	}
	100% {
		transform: translateY(0)
	}
}
@keyframes left_back{
	0% {
		transform: translateX(0) translateY(0);
	} 
	30% {
		transform: translateX(60px) translateY(-35px);
	}
	70% {
		transform: translateX(60px) translateY(-35px);
	}
	80% {
		transform: translateX(0) translateY(0);
	}
	90% {
		transform: translateX(0) translateY(0);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}
@keyframes right_back{
	0% {
		transform: translateX(0) translateY(0);
	} 
	30% {
		transform: translateX(-60px) translateY(-35px);
	}
	70% {
		transform: translateX(-60px) translateY(-35px);
	}
	80% {
		transform: translateX(0) translateY(0);
	}
	90% {
		transform: translateX(0) translateY(0);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}