@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;500&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', 'helvetica';
}
.showcase {
	height: 100vh;
	overflow: hidden;
}
video {
	width: 100%;
	height: 100%;
	display: none;
	/*background-image: url('');*/
}
.visible {
	display: block;
}
.content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	color: white;
	/*opacity: .5;*/
}
.content h1 {
	text-align: center;
	font-size: 45px;
	margin-top: 15%;
}
header {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 10px;
	align-items: center;
	width: 80%;
	height: 80px;
	margin: 0 auto;
}
.header-logo {
	font-size: 25px;
	justify-self:start;
}
.header-list {
	list-style: none;
	justify-self:end;
}
.header-menu {
	display: none;
	justify-self:end;
}
.header-list li {
	display: inline;
	margin-right: 10px;
	cursor: pointer;
}
.headline {
	font-weight: 100;
}
.info {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: white;
	font-size: 12px;
}
.menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color: black;
	transition: all .2s ease-out;
}
.menu-list {
	transition: all .2s ease-out;
	position: absolute;
	top: 20%;
	left: 20%;
}
.menu-list li {
	list-style: none;
	margin-bottom: 50px;
	font-size: 30px;
	text-align: left;
}
.inner-header-menu {
	position: absolute;
	top: 40px;
	right: 60px;
}
.menu-invisible {
	/*display: none;*/
	width: 0;
	height: 0;
	border-radius: 50%;
}
.menu-visible {
	/*display: block;*/
	width: 100%;
	height: 100%;
	border-radius: 0;
}
.menu-list-visible {
	display: block;
	opacity: 1;
}
.menu-list-invisible  {
	display: none;
	opacity: 0;
}
@media only screen and (max-width: 800px) {
	.header-list {
		display: none;
	}	
	.header-menu {
		display: block;
	}
}