@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', "helvetica";
	box-sizing: border-box;
	background-color: black;
}

button {
	padding: 20px 40px 20px 40px;
	border: 0;
	background-color: red;
	color: white;
	font-family: 'Poppins';
	position: absolute;
	top: 45%;
	left: 43%;
	font-weight: bold;
	overflow: hidden;
}
.circle {
	width: 90px;
	height: 90px;
	background-color: rgba(255,255,255,.5);
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50px;
	transition: all .5s ease-out;
	transform: scale(0);
}
.scale {
	animation: growup .5s linear 1;
}
@keyframes growup {
	10% {
		opacity: 1;
		transform: scale(0);
	}
	50% {
		opacity: .9;
		transform: scale(2.5);
	}
	70% {
		opacity: .5;
		transform: scale(2.5);
	}
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}